/** BULMA **/
@import "bulma/bulma.sass"; // import all bulma fwk...

/** CUSTOM */
html {
  overflow-y: auto;
}

nav.navbar {
  min-height: inherit;
  height: 80px;
}

.main-container {
  min-height: calc(100vh - 181px);
}

a.navbar-link.selected{
  background: darken($primary, 5%);
}

a.pizza-link .card {
  transition: all .15s;
  &:hover{
    transform: scale(1.04);
    box-shadow: 0 2px 3px $primary, 0 0 0 1px $primary;
  }
}

footer.footer {
  padding: 20px;
  height: 100px;
}